<!DOCTYPE html>
<html style = "height:100%; min-height: 100%;">
  <head>
    <title>FirstApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "height:100%; min-height: 100%;">
  	<%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>

</html>
