<div class="body-wrap">
   <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2><%=@user.nome%></h2>
                </div>
            </div>
        </div>
        </div>

  <section class="slice bg-white">
        <div class="wp-section user-account">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="tabs-framed">
                            <ul class="tabs clearfix">
                            	 <li class="active"><a href="#tab-1" data-toggle="tab">Praias Favoritas</a></li>
                                <li><a href="#tab-2" data-toggle="tab">Dados</a></li>
                               
                            </ul>

                            <div class="tab-content">
                                 <!-- Produtos -->
                                <div class="tab-pane fade in active" id="tab-1">
                                    <div class="tab-body" style="padding-bottom: 0;">
                                            <table class="table table-striped table-responsive no-margin ">
                                                <tbody>
                                                    <tr>
                                                        <th></th>
                                                        <th>Nome</th>
                                                        <th>Localização</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>

                                                    <% for i in (0..(@praia.size-1)) %>
                                                        <tr>
                                                            <td class="remove-cell"><a href="" class="cart-remove pull-right" title="Remover"><i class="fa fa-times fa-2x" style="color:red"></i></a></td>
                                                            <td><%= @praia[i].name %></a></td>
                                                            <td><%= @praia[i].location %></td>
                                                            <td></td>
                                                            <td>
                                                                <a href="#" class="btn btn-xs btn-base"><span>Ver Praia</span></a>
                                                            </td>
                                                        </tr>
                                                    <% end %>
                                                    
                                                </tbody>
                                            </table>
                                        <% if @praia.size==0 %>
                                            <div style="text-align: center">
                                            <h5 style="margin-top:5px">Ainda não tem praias favoritas.</h5>
                                            </div>
                                        <% end %>
                                        
                                    </div>
                                </div>
                                <!-- Definições -->
                                <div class="tab-pane fade" id="tab-2">
                                    <div class="tab-body" style="padding-bottom: 0;">

                                        <div class="row">

                                        <div class="col-md-9">
                                            <dl class="dl-horizontal style-2">
                                                <dt>Nome</dt>
                                                <dd>
                                                    <span class="pull-left"><%=@user.nome%></span>
                                                </dd>
                                                <dt>Email</dt>
                                                <dd>
                                                    <span class="pull-left"><%=@user.email%></span>
                                                </dd>
                                            </dl>
                                        </div>

                                       
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
